<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 text-center m-auto d-block">
      <h3>Приготовь своё лакомство с YummYummY</h3>
      <p class="mt-4">Получи случайный из созданных пользователями рецепт. Ты узнаешь, как называется блюда, только,
      когда приготовишь его!</p>
      <p class="main-sub-p">Узнайб что ты сотворишь сегодня</p>
      <a href="" class="my-btn">Попробовать</a>
    </div>
    <div class="col-lg-7 col-md-7 m-auto">
      <img src="../../assets/home-page-img/home-page-img.jpg" alt="Main page img" class="img-fluid d-block">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 m-auto">
      <img src="../../assets/home-page-img/dish.png" alt="Dish img" class="img-fluid d-block dish-img m-auto">
    </div>
    <div class="col-lg-7 col-md-7 m-auto text-center">
      <h3 class="h3-home-find-recipe">Найди подходящий тебе рецепт</h3>
      <form>
        <input type="text" name="name" class="my-input" placeholder="Название" [(ngModel)]="shareRecipes.filter.name">
        <input type="text" name="ingredient" class="my-input" placeholder="Основной ингридиент" [(ngModel)]="shareRecipes.filter.mainIngredient">
        <input type="text" name="origin" class="my-input" placeholder="Национальное происхождение" [(ngModel)]="shareRecipes.filter.nationality">
        <input type="text" name="author" class="my-input" placeholder="Автор" [(ngModel)]="shareRecipes.filter.author">
        <button class="my-btn" (click)="searchRecipe()">Найти</button>
      </form>
    </div>

  </div>
</div>
