small{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
}
.wrapper {
  margin-top: 50px;
}
table{
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-wrapper {

}
