<app-header></app-header>
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <h3>Сборник рецептов</h3>
      <p>Приключение со вкусом</p>
      <img src="../../assets/all-recipes-img/saucepan.png" alt="Кастрюля" class="img-fluid m-auto pan-img">
    </div>
    <div class="col-lg-6 col-md-6 m-auto text-center">
      <h4>Фильтры</h4>
      <form>
        <input type="text" name="name" class="my-input" placeholder="Название" [(ngModel)]="shareRecipes.filter.recipeName">
        <input type="text" name="ingredient" class="my-input" placeholder="Основной ингридиент" [(ngModel)]="shareRecipes.filter.ingredient">
        <input type="text" name="origin" class="my-input" placeholder="Национальное происхождение" [(ngModel)]="shareRecipes.filter.nationality">
        <input type="text" name="author" class="my-input" placeholder="Автор" [(ngModel)]="shareRecipes.filter.author">
        <div class="m-auto btn-wrapper d-flex flex-wrap justify-content-between">
        <button class="my-btn-small" (click)="searchRecipe()">Найти</button>
        <button class="my-btn-small" (click)="reset()">Сбросить</button>
        </div>
      </form>
    </div>
  </div>
  </div>
    <div class="recipes-wrapper">
    <div *ngFor="let tempRecipe of shareRecipes.recipes; let i = index;" class="container row-class">
      <div *ngIf="i % 3 == 0" class="row">
        <div class="col-lg-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <span class="author">Автор: {{tempRecipe.author}}</span>
            <h5 class="card-title">{{tempRecipe.name}}</h5>
            <p class="card-text">
              <span>Главный ингридиент: {{tempRecipe.ingredient}}</span>
              <br />
              <span>Национальность: {{tempRecipe.nationality}}</span>
            </p>
            <p class="duration">
              <span *ngIf="tempRecipe.duration.value.hours">{{tempRecipe.duration.value.hours}} час.</span>
              {{tempRecipe.duration.value.minutes}} минут</p>
            <button class="btn btn-primary btn-go" (click)="seeRecipe(tempRecipe.idRecipe)">Просмотр</button>
          </div>
        </div>
      </div>
        <div *ngIf="i + 1 < shareRecipes.recipes.length" class="col-lg-4 col-md-4">
          <div class="card">
          <div class="card-body">
            <span class="author">Автор: {{shareRecipes.recipes[i + 1].author}}</span>
            <h5 class="card-title">{{shareRecipes.recipes[i + 1].name}}</h5>
            <p class="card-text">
              <span>Главный ингридиент: {{shareRecipes.recipes[i + 1].ingredient}}</span>
              <br />
              <span>Национальность: {{shareRecipes.recipes[i + 1].nationality}}</span>
            </p>
            <p class="duration">
              <span *ngIf="tempRecipe.duration.value.hours">{{tempRecipe.duration.value.hours}} час.</span>
              {{tempRecipe.duration.value.minutes}} минут</p>
            <button class="btn btn-primary btn-go" (click)="seeRecipe(tempRecipe.idRecipe)">Просмотр</button>
          </div>
        </div>
        </div>
        <div *ngIf="i + 2 < shareRecipes.recipes.length" class="col-lg-4 col-md-4">
          <div class="card">
          <div class="card-body">
            <span class="author">Автор: {{shareRecipes.recipes[i + 2].author}}</span>
            <h5 class="card-title">{{shareRecipes.recipes[i + 2].name}}</h5>
            <p class="card-text">
              <span>Главный ингридиент: {{shareRecipes.recipes[i + 2].ingredient}}</span>
              <br />
              <span>Национальность: {{shareRecipes.recipes[i + 2].nationality}}</span>
            </p>
            <p class="duration">
              <span *ngIf="tempRecipe.duration.value.hours">{{tempRecipe.duration.value.hours}} час.</span>
              {{tempRecipe.duration.value.minutes}} минут</p>
            <button class="btn btn-primary btn-go" (click)="seeRecipe(tempRecipe.idRecipe)">Просмотр</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
