<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <img src="../../assets/recipe-img/burger.jpg" alt="Бургер" class="img-fluid m-auto burger-img">
    </div>
    <div class="col-lg-4 col-md-4 m-auto">
      <div>
      <h3>Основные ингридиенты</h3>
      <p><span *ngFor="let item of recipe.ingredients">{{item.ingredient}} x{{item.amount}}<br /></span></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 m-auto">
      <div class="m-auto text-center wrapper-duration">
        <h4>Время приготовления
        <br />
          <small>(приблизительно)</small></h4>
        <p><span *ngIf="tempRecipe.duration.value.hours">{{tempRecipe.duration.value.hours}} час.</span>
          {{tempRecipe.duration.value.minutes}} минут</p></p>
      </div>
    </div>
  </div>

  <mat-vertical-stepper linear #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step *ngFor="let item of recipe.steps; let i = index;">
      <ng-template matStepLabel>Шаг {{item.orderIndex}}</ng-template>
      <p>{{item.description}}</p>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext *ngIf="i != recipe.steps.length - 1">Вперед</button>
        <button mat-button *ngIf="i === recipe.steps.length - 1" (click)="done()">Завершить</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
