@import "src/colors/colors";
.burger-img {
  max-height: 300px;
}
.wrapper-duration{
  border: 3px solid $blue;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mat-step{
  color: white;
}
