<app-header></app-header>
<div class="container reg-wrapper">
  <div class="row">
    <div class="col-lg-7 col-md-7 text-center">
      <h3>Присоединяйся к нам!</h3>
      <p>Ты сможешь создавать свои рецепты и делиться опытом с другими пользователями!</p>
      <img src="../../assets/registration-img/yummy_reg.jpg" class="img-fluid m-auto" alt="Регистрация">
    </div>
    <div class="col-lg-5 col-md-5 text-center m-auto">
      <h3 class="reg-name">Зарегистрироваться</h3>
      <form autocomplete="off">
        <input [autocomplete]="login" type="text" name="email" class="my-input" placeholder="Логин"
               [(ngModel)]="user.login" required #login="ngModel">
        <input type="password" name="pass" class="my-input" placeholder="Пароль" [(ngModel)]="user.password" required>
        <button class="my-btn" (click)="loginUser()">Войти</button>
        <div [hidden]="!check" class="alert alert-danger my-alert"
        >Данные не верны!</div>
      </form>
    </div>
  </div>
</div>
