.card-body{
  position: relative;
}
.author{
  position: absolute;
  top: 5px;
  right: 15px;
  color: grey;
}
.recipes-wrapper{
  margin-top: 50px;
}
.row-class{
  margin-top: 15px;
}
.duration {
  position: absolute;
  bottom: -10px;
  right: 15px;
}
.buttons {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
