@import "src/colors/colors";
.reg-name{
  border-bottom: 3px solid $blue;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}
.reg-wrapper{
  margin-top: 10vh;
}
.note{
  margin-top: 15px;

  a{
    color: $blue;
  }
}

