<header>
  <a routerLink="/" class="logo">YummYummY</a>
  <div id="menu-toggle" (click)="adaptiveHeader()" >
    <fa-icon [icon]="faBars" class="faBars"></fa-icon>
    <fa-icon [icon]="faTimes" class="faTimes"></fa-icon></div>
  <nav id="nav">
    <ul>
      <li (click)="getRandom()">
        <a>Случайный рецепт</a>
      </li>
      <li *ngIf="login">
        <a routerLink="/my-recipes">Мои рецепты</a>
      </li>
      <li *ngIf="login" (click)="exit()">
        <a href="">Выйти</a>
      </li>
      <li>
        <a routerLink="/registration" *ngIf="!login">Зарегистрироваться</a>
      </li>
      <li>
        <a routerLink="/login" *ngIf="!login">Войти</a>
        <a *ngIf="login" class="login">{{login}}</a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>
