<header>
  <a href="" class="logo">YummYummY</a>
  <div id="menu-toggle" (click)="adaptiveHeader()" >
    <fa-icon [icon]="faBars" class="faBars"></fa-icon>
    <fa-icon [icon]="faTimes" class="faTimes"></fa-icon></div>
  <nav id="nav">
    <ul>
      <li>
        <a href="">Случайный рецепт</a>
      </li>
      <li *ngIf="login">
        <a href="">Выйти</a>
      </li>
      <li>
        <a href="" *ngIf="!login">Войти</a>
        <a href="" *ngIf="login">{{login}}</a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>
