/* You can add global styles to this file, and also import other style files */
@import "colors/colors";
.my-btn{
  background: $blue;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  display: inline-block;
  border-radius: 15px;
  width: 250px;
}
.my-btn:hover{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.my-input{
  display: block;
  padding: 5px 20px 5px 25px;
  border-radius: 25px;
  background: $grey;
  margin: auto;
  margin-top: 20px;
  border: 0;
  outline: none;
  min-width: 300px;
}
