.main-sub-p{
  font-weight: 600;
}
.h3-home-find-recipe{
  font-size: 24px;
  max-width: 300px;
  margin: auto;
  padding-bottom: 25px;
  border-bottom: 3px solid #2a2971;
}
.dish-img{
  max-width: 300px;
}
